{% extends 'Home/base.html' %}

{% block all %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <body class="d-flex flex-column h-100 bg-black">
        <main class="flex-shrink-0">
            <!-- Page content-->
            <section class="py-5 bg-black">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                            <h1 class="fw-bolder">Get in touch</h1>
                            <p class="lead fw-normal text-muted mb-0">Let's work together!</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <form class="project-card" method="POST" action="{% url 'contact' %}">
                                    {% csrf_token %}
                                    <!-- Name input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="remitente" name="remitente" type="text" placeholder="Enter your name..." required="required"/>
                                        <label for="remitente">Full name</label>
                                    </div>
                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" yyyid="asunto" name="asunto" type="text" placeholder="name@example.com" required="required"/>
                                        <label for="asunto">Email address</label>
                                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                    </div>
                                    <!-- Message input-->
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" id="mensaje" name="mensaje" type="text" placeholder="Enter your message here..." style="height: 10rem" required="required"></textarea>
                                        <label for="mensaje">Message</label>
                                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                                    </div>
                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Section-->
            <section class="bg-black py-5">
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-xxl-8">
                            <div class="text-center my-5">
                                <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                                <p class="lead fw-light mb-4 text-white">I am a junior backend developer from Argentina.</p>
                                <p class="text-muted">I have 1 year of experience working with the model- template-view architectural pattern of the Django framework. I possess a strong foundation in Python and have utilized various libraries for software development and data engineering.</p>
                                <div class="d-flex justify-content-center fs-2 gap-4">
                                    <a class="text-gradient" href="https://www.linkedin.com/in/franco-gidaszewski/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                    <a class="text-gradient" href="https://github.com/gidaszewski" target="_blank"><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
{% endblock %}
